.menu-container {
    text-align: center;
    padding: 20px;
  }
  
  .menu-title {
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  .categories {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .category-button {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .category-button.selected {
    background-color: #ccc; 
  }
  
  .products {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
  }
  
  .sort-dropdown {
    margin: 20px 0;
    text-align: center;
  }
  
  .sort-dropdown label {
    font-size: 16px;
  }
  
  .sort-dropdown select {
    margin-left: 10px;
    padding: 5px 10px;
    font-size: 16px;
  }
  .cart-button-container {
    position: absolute;
    top: 20px;
    right: 30px;
    z-index: 10;
  }
  
  .cart-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #e67e22;
    color: white;
    border: none;
    border-radius: 5px;
  }
  
  .cart-button:hover {
    background-color: #d35400;
  }

  .search-bar {
    margin: 20px 0;
    text-align: center;
  }
  
  .search-bar input {
    width: 250px;
    padding: 8px 12px;
    font-size: 16px;
    border: 1px solid #bbb;
    border-radius: 5px;
  }
  